<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>311577709263-rt0v88iolg84rf98ae4fjo1ocq4h9re3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.311577709263-rt0v88iolg84rf98ae4fjo1ocq4h9re3</string>
	<key>API_KEY</key>
	<string>AIzaSyAkEnkVfu_vbMxdxSLeuTySv5ULN2mxE6M</string>
	<key>GCM_SENDER_ID</key>
	<string>311577709263</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dreadrocksoftware.bartalk</string>
	<key>PROJECT_ID</key>
	<string>bartalk-75142</string>
	<key>STORAGE_BUCKET</key>
	<string>bartalk-75142.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:311577709263:ios:d5bcb4367f0562768105ba</string>
	<key>DATABASE_URL</key>
	<string>https://bartalk-75142-default-rtdb.firebaseio.com</string>
</dict>
</plist>